a {
  color: #426cf5;
  opacity: 100%;
  transition: opacity 0.1s;
} a:hover {
  opacity: 50%;
  transition: opacity 0.1s;
}

p {
    margin: 0;
    padding: 0;
}

.Banner{
  /*Top, Right, Bottom, Left*/
  background-color: #2d417a;
  color: white;
  height: 5vh;
  width: 100%;
  align-items: center;
  display:flex;
  left:0;
  right:0;
}

.Menu{
  font-family: "Verdana", sans-serif;
  padding: 0.75em 1.0em 0.75em 1.0em;
  margin-right: 0.5em;
  background-color: #282828;
  color: #ecba82;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  opacity: 100%;
  transition: opacity 0.1s;
}

.Menu:hover{
  opacity: 75%;
  transition: opacity 0.1s;
  cursor: pointer;
}

.Menu:disabled, .Menu[disabled]{
  opacity: 100%;
  color: #606060;
  cursor: not-allowed;
}

#LogoContainer{
  position: absolute;
  right: 1em;
}

.LogoLink{
  margin-left: 10px;
  position: relative;
  width: 38px;
  height: 38px;
  opacity: 100%;
  transition: opacity 0.1s;
}

.LogoLink:hover {
  opacity: 50%;
  transition: opacity 0.1s;
}