.Banner{
  /*Top, Right, Bottom, Left*/
  padding: 0.0em 0.0em 0.0em 1.0em;
  background-color: #2d417a;
  color: white;
  height: 5vh;
}

.Menu{
  font-family: "Verdana", sans-serif;
  padding: 0.5em 1.0em 0.5em 1.0em;
  margin-right: 0.5em;
  background-color: #282828;
  color: #ecba82;
  border: none;
  border-radius: 4px;
  font-weight: bold;
}

.Menu:hover{
  background-color: #4b4b61;
  cursor: pointer;
}

.Menu:disabled, .Menu[disabled]{
  background-color: #282828;
  cursor: not-allowed;
}

#LogoContainer{
  position: absolute;
  right: 0;
  margin-right: 1.0em;
  /*border: 2px solid white;*/
}

.LogoLink{
  padding-left: 10px;
  position: relative;
  width: 32px;
  height: 32px;
}

/*
---------- Palettes ----------
Default:
  #2d417a - background
  #282828 - button background
  #ecba82 - font

---------- Other ----------
Links:
  #0f12bf - lighter link blue
  #0f1194 - darler link blue
  #5e21b5 - link purple

JIC:
  #282828 - dark grey
*/