.Banner{
  /*Top, Right, Bottom, Left*/
  padding: 0.0em 0.0em 0.0em 1.0em;
  background-color: var(--color-banner);
  color: var(--color-font);
  height: 3em;
}

.Banner-Button{
  font-family: "Verdana", sans-serif;
  padding: 0.5em 1.0em 0.5em 1.0em;
  margin-right: 0.5em;
  background-color: var(--color-banner-button);
  color: var(--color-banner);
  border: none;
  border-radius: 4px;
  font-weight: bold;
}

.Banner-Button:hover{
  background-color: var(--color-banner-button-hover);
  color: var(--color-banner);
  cursor: pointer;
}

.Banner-Button:disabled, .Banner-Button[disabled]{
  background-color: #282828;
  cursor: not-allowed;
}

#LogoContainer{
  position: absolute;
  right: 0;
  margin-right: 1.0em;
  /*border: 2px solid white;*/
}

.LogoLink{
  padding-left: 10px;
  position: relative;
  width: 32px;
  height: 32px;
}

/* Experimental themes, subject to change */
.theme-night{
  --color-banner: #282828;
  --color-banner-button: white;
  --color-banner-button-hover: #787878;
  /*--color-body: ;*/
  --color-background: black;
  --color-font: white;
}

.theme-forest{
  --color-banner: #204E4A;
  --color-banner-button: #81C14B;
  --color-banner-button-hover: #2E933C;
  /*--color-body: ;*/
  --color-background: black;
  --color-font: white;
}

/*
---------- Palettes ----------
Forest:
  #204E4A - deep jungle green
  #297045 - dark spring green
  #2E933C - may green
  #81C14B - mantis
  #ECBA82 - gold crayola

---------- Other ----------
Links:
  #0f12bf - lighter link blue
  #0f1194 - darler link blue
  #5e21b5 - link purple

JIC:
  #282828 - dark grey
*/